.content.upload {
  &.show-password-section {
    .password-section {
      display: flex;
    }
  }

  .password-section {
    display: none;

    &.hide-hint {
      margin-bottom: 40px;

      .password-hint {
        display: none;
      }
    }
  }

  .password-input-label {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
  }

  .password-input {
    @include input;
  }

  .password-hint {
    font-size: 14px;
    margin-top: 10px;
    opacity: .6;
    width: 100%;
  }

  .show-upload-button-section {
    .password-input {
      margin-bottom: 20px;
    }
  }
}
